body{
   /* font-family: 'Roboto', sans-serif; */
   /* font-weight: 900; */
   font-size: 14px;
   letter-spacing: 1px;
}

.flex-container {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    height: 150px;
    width: 100%;
    position:fixed;
    top: 0px;

    
  }
  .flex-container > div {
    color: black;
    margin: 5px;
    padding-left: 10px;
    text-align: left;
    line-height: 20px;
    font-size: 30px;
  }
  /* .flex-container logo{
      text-align: center;
      justify-content: center;
  } */
  .flex-container .img img{
    width:100px;
    height: 80px;
    margin: 0px 10px;
    border-radius: 10px;
  }
  .flex-container .img{
      margin-left: 1100px;
  }

  .body-section{
    background-color: rgb(124, 124, 202);
     width: 1700px;
     height: 100vh;
     margin: 180px auto 0px;
     border-radius: 18px;

  }

  .inner-section{
      background-color: white;
      height: 100vh;
      width: 1400px;
      margin-top: 120px;
  }

  .navbar{
      background-color: white;
      color: black;
      font-size: 18px;
      width: 1100px;
      margin: 50px auto;
      padding: 10px;
  }
  /* .navbar-nav{
    width: 580px;
  } */

  /* #banner-section h1{
      height: 80vh;
    
  } */